.italic
{
	font-style: italic;
}

body
{
	margin:40px auto;
	max-width:650px;
	line-height:1.4;
	font-size:16px;
	padding:0 10px;
	background-color: #EEEEEE;
}

h1,h2,h3
{
	line-height:1.2;
}

blockquote
{
padding: 15px;
border-bottom: 1px grey solid;
}
